
.body {
    text-align:center;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif; 
}

button,table,#connectfour,body,td {
    margin: 40px auto 0 auto;
    background:#eee;
}

#connectfour,#gameboard {
    width:620px;
}

#gameboard td {
    width:76px;
    height:76px;
    border-radius:38px;			
}

#gameboard {
    padding:10px;
    border-spacing:4px;
    border-bottom-width:0;
    border-radius:12px 12px 0 0;
}

#gameboard .red {
    background:#f00;
}

#gameboard .yellow {
    background:#ff0;
}

#r,#gameboard td {
    border-color:#333;
}
.left {
    float:left;
}

.right {
    float:right;
}
#new,#win,#red,#yellow {
    display:none;
}